/* CONTROLLER */
#controllerBox
{
    position: absolute;
    width: 537px;
    height: 513px;
    top: 40px;
    left: 360px;
}

.squareButton
{
    position: absolute;
    width: 36px;
    height: 36px;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    border-radius: 2px;
}

.bumperButton
{
    position: absolute;
    width: 100%;
    height: 25px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    bottom: 0px;
    left: 50%;
    margin-left: -50%;
    border-radius: 2px;
}

.triggerButton
{
    position: absolute;
    width: 32px;
    height: 70px;
    font-size: 16px;
    text-align: center;
    line-height: 100px;
    top: 20px;
    left: 50%;
    margin-left: -16px;
    border-radius: 2px;
}

.circleButton
{
    position: absolute;
    width: 36px;
    height: 36px;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
}

.rectangleButton
{
    position: absolute;
    width: 50px;
    height: 22px;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    border-radius: 2px;
}

.stick
{
    position: absolute;
    width: 90px;
    height: 90px;
    font-size: 16px;
    text-align: center;
    line-height: 200px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
}

.rectangleLeft
{
    top: 0px;
    left: 0px;
}

.rectangleRight
{
    top: 0px;
    right: 0px;
}

.buttonTop
{
    top: 0px;
    left: 50%;
    margin-left: -18px;
}

.buttonRight
{
    top: 50%;
    right: 0px;
    margin-top: -18px;
}

.buttonBottom
{
    bottom: 0px;
    left: 50%;
    margin-left: -18px;
}

.buttonLeft
{
    top: 50%;
    left: 0px;
    margin-top: -18px;
}

.buttonGroup
{
    position: absolute;
    width: 130px;
    height: 130px;
}

#assign
{
    position: absolute;
    width: 110px;
    height: 33px;
    top: 40px;
    left: 50%;
    margin-left: -55px;
    font-size: 16px;
    text-align: center;
    line-height: 33px;
    background-color: rgb(230, 230, 230);
    border: solid rgb(198, 198, 198) 2px;
}

#dpad
{
    top: 350px;
    left: 30px;
}

#circleButtons
{
    top: 175px;
    right: 30px; 
}

#triggerButtonsRight
{
    top: 0px;
    right: 30px;
}

#triggerButtonsLeft
{
    top: 0px;
    left: 30px;
}

#rectangleButtons
{
    position: absolute;
    width: 150px;
    height: 22px;
    top: 280px;
    left: 50%;
    margin-left: -75px;
}

#stickGroupLeft
{
    top: 175px;
    left: 30px;
}

#stickGroupRight
{
    top: 350px;
    right: 30px;
}